<p id="notice"><%= notice %></p>

<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %> <br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.email %></small>
    </h2>
  </div>

  <div class="btn-group">
    <a class="btn-btn-default btn-sm" href="<%= link.url %>">Visit</a>
  </div>

<% end %>
